extends ./layouts/main-layout.pug

block footerVars
  - var footerLogoSrc = "./images/svg/logo.svg"

block content
  main.main-blog
    section.blog
      .blog__title-block
        h1.blog__title Activity & Updates
        p.blog__desc Our biggest challenge is making sure we're always designing and building products that will help you run your business better.
      .blog__filters-block
        ul.blog__filters
          li.blog__filter
            button.blog__filter-btn(type="button") View all
          li.blog__filter
            button.blog__filter-btn(type="button") Design
          li.blog__filter
            button.blog__filter-btn(type="button") Articles
          li.blog__filter
            button.blog__filter-btn(type="button") Product
          li.blog__filter
            button.blog__filter-btn(type="button") Software Development
          li.blog__filter
            button.blog__filter-btn(type="button") Customer Success
      .blog__slider
        ul.blog__slider-list
          li.blog__slider-item
            figure.blog__slider-figure
              img.blog__slider-img(src="./images/blog/blog-slider-1.png", alt="#")
              figcaption.blog__slider-figcaption
                .blog__slider-data-block
                  span.blog__slider-data-date Published in Insight Jan 30, 2021
            .blog__slider-title-block
              h3.blog__slider-title Practice making User Flow
              p.blog__slider-desc In this article, we'll cover how to create user flows
          li.blog__slider-item
            figure.blog__slider-figure
              img.blog__slider-img(src="./images/blog/blog-slider-2.png", alt="#")
              figcaption.blog__slider-figcaption
                .blog__slider-data-block
                  span.blog__slider-data-date Published in Insight Jan 30, 2021
                  span.blog__slider-data-autor by : Albert Sans
            .blog__slider-title-block
              h3.blog__slider-title Overview of the Design Principles
              p.blog__slider-desc What are Design Principles?… To understand design principles, we first discuss the principles.
          li.blog__slider-item
            figure.blog__slider-figure
              img.blog__slider-img(src="./images/blog/blog-slider-3.png", alt="#")
              figcaption.blog__slider-figcaption
                .blog__slider-data-block
                  span.blog__slider-data-date Published in Insight Jan 30, 2021
                  span.blog__slider-data-autor by : Albert Sans
            .blog__slider-title-block
              h3.blog__slider-title Using Grid in website design
              p.blog__slider-desc Andi: "What's the grid like?" Toni: “Like below…”
        .blog__slider-btn-block
          button.blog__slider-btn--prev(type="button")
          button.blog__slider-btn--next(type="button")

    section.best-articles
      .best-articles__list-block
        ul.best-articles__list
          li.best-articles__item
            .best-articles__img-block
              img.best-articles__img(src="./images/blog/best-article-1.png" alt="#")
            .best-articles__title-block
              h3.best-articles__title
                a.best-articles__link(href="./page-article.html") How we perform long-running tasks using AWS services
              p.best-articles__desc Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.
          li.best-articles__item
            .best-articles__img-block
              img.best-articles__img(src="./images/blog/best-article-2.png" alt="#")
            .best-articles__title-block
              h3.best-articles__title
                a.best-articles__link(href="#") How to ask when doing User Research
              p.best-articles__desc Bro, the story is that you want to make an application for buying and selling goods on the market. During user research, what do you think you will ask people?
          li.best-articles__item
            .best-articles__img-block
              img.best-articles__img(src="./images/blog/best-article-3.png" alt="#")
            .best-articles__title-block
              h3.best-articles__title
                a.best-articles__link(href="#") Layout Exploration — Simple exercise but big effect
              p.best-articles__desc Make alternatives or other options for the design we are making. For example, we are creating a website design. Then there is the testimonial section.
          li.best-articles__item
            .best-articles__img-block
              img.best-articles__img(src="./images/blog/best-article-4.png" alt="#")
            .best-articles__title-block
              h3.best-articles__title
                a.best-articles__link(href="#") Webflow Break the Coding Barrier
              p.best-articles__desc Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.

    section.articles
      .articles__title-block
        h2.articles__title Articles
        p.articles__desc Complex tech decoded by engineers, business trends analyzed by experts.
      .articles__slider
        ul.articles__slider-list
          li.articles__slider-item
            .articles__slider-img-block
              img.articles__slider-img(src="./images/blog/article-1.png" alt="#")
            .articles__slider-title-block
              h3.articles__slider-title List of UX Designer Portfolio / Case Studies where you can make money
              p.articles__slider-desc Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:
            .articles__slider-link-block
              a.articles__slider-link(href="#") Read More
          li.articles__slider-item
            .articles__slider-img-block
              img.articles__slider-img(src="./images/blog/article-2.png" alt="#")
            .articles__slider-title-block
              h3.articles__slider-title Skyrocketing in The Designing Career, Why Not?
              p.articles__slider-desc Ever thought of jumping into the world of design as a career? If not, you may want to look at what the word ‘design’ actually means. Design is a method of designing aesthetic actions that are carried out.
            .articles__slider-link-block
              a.articles__slider-link(href="#") Read More
          li.articles__slider-item
            .articles__slider-img-block
              img.articles__slider-img(src="./images/blog/article-3.png" alt="#")
            .articles__slider-title-block
              h3.articles__slider-title Elements that may be missed when designing the UI
              p.articles__slider-desc This is an article that talks about the little elements that are often overlooked when designing UI.
            .articles__slider-link-block
              a.articles__slider-link(href="#") Read More
