extends ./layouts/main-layout.pug

block footerVars
  - var footerLogoSrc = "./images/svg/black-logo.svg"

block content
  main.main-pricing
    section.pricing
      .pricing__content-block
        .pricing__title-block
          h2.pricing__title Pricing plans
          p.pricing__desc Choose a plan for a more advanced business
        .pricing__year-plan-block
          input.pricing__year-plan-input(type="checkbox" id="year-plan")
          label.pricing__year-plan-label(for="year-plan") Annual pricing (save 20%)
      .pricing__plans-block
        ul.pricing__plans
          li.pricing__plan.pricing__plan--best
            .pricing__plan-icons-block
              span.pricing__plan-icons
              span.pricing__plan-icons Best offers 🔥
            .pricing__plan-title-block
              h3.pricing__plan-title Popular
              p.pricing__plan-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .pricing__plan-amount-block
              span.pricing__plan-amount $1400
                span.pricng__plan-amount-monthly | /mo
            .pricing__plan-features-block
              h4.pricing__plan-title What’s included:
              ul.pricing__plan-features
                li.pricing__plan-feature Unlimited Upload
                li.pricing__plan-feature Advanced Statistic
                li.pricing__plan-feature Profile Badge
                li.pricing__plan-feature Access to the community
                li.pricing__plan-feature.pricing__plan-feature--none History of all Liked Photos
                li.pricing__plan-feature Directory Listing
                li.pricing__plan-feature.pricing__plan-feature--none Customize Your Profile
                li.pricing__plan-feature.pricing__plan-feature--none Display Your Workshops
            .pricing__plan-btn-block
              button(type="button").pricing__plan-btn Chose Plan
          li.pricing__plan
            .pricing__plan-icons-block
              span.pricing__plan-icons
            .pricing__plan-title-block
              h3.pricing__plan-title Starter
              p.pricing__plan-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .pricing__plan-amount-block
              span.pricing__plan-amount $100
                span.pricng__plan-amount-monthly | /mo
            .pricing__plan-features-block
              h4.pricing__plan-title What’s included:
              ul.pricing__plan-features
                li.pricing__plan-feature Unlimited Upload
                li.pricing__plan-feature Advanced Statistic
                li.pricing__plan-feature Profile Badge
                li.pricing__plan-feature Access to the community
                li.pricing__plan-feature.pricing__plan-feature--none History of all Liked Photos
                li.pricing__plan-feature.pricing__plan-feature--none Directory Listing
                li.pricing__plan-feature.pricing__plan-feature--none Customize Your Profile
                li.pricing__plan-feature.pricing__plan-feature--none Display Your Workshops
            .pricing__plan-btn-block
              button(type="button").pricing__plan-btn Chose Plan
          li.pricing__plan
            .pricing__plan-icons-block
              span.pricing__plan-icons
            .pricing__plan-title-block
              h3.pricing__plan-title Enterprise
              p.pricing__plan-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .pricing__plan-amount-block
              span.pricing__plan-amount $2100
                span.pricng__plan-amount-monthly | /mo
            .pricing__plan-features-block
              h4.pricing__plan-title What’s included:
              ul.pricing__plan-features
                li.pricing__plan-feature Unlimited Upload
                li.pricing__plan-feature Advanced Statistic
                li.pricing__plan-feature Profile Badge
                li.pricing__plan-feature Access to the community
                li.pricing__plan-feature History of all Liked Photos
                li.pricing__plan-feature Directory Listing
                li.pricing__plan-feature Customize Your Profile
                li.pricing__plan-feature Display Your Workshops
            .pricing__plan-btn-block
              button(type="button").pricing__plan-btn Chose Plan

    section.pricing-faq
      .pricing-faq__title-block
        h2.pricing-faq__title Frequently asked questions
        p.pricing-faq__desc Everything you need to know about the product and billing.
      ul.pricing-faq__accordion
        li.pricing-faq__accordion-item
          .pricing-faq__accordion-title Is There A Free Trial Available?
          .pricing-faq__accordion-content Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
        li.pricing-faq__accordion-item
          .pricing-faq__accordion-title How Can I Add More Emails To My Account?
          .pricing-faq__accordion-content Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
        li.pricing-faq__accordion-item
          .pricing-faq__accordion-title Can I Change Plans Or Cancel My Subscription At Any Time
          .pricing-faq__accordion-content Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
        li.pricing-faq__accordion-item
          .pricing-faq__accordion-title How Secure Is My Date With Sans CRM
          .pricing-faq__accordion-content Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
        li.pricing-faq__accordion-item
          .pricing-faq__accordion-title What Is The Uptime Guarantee
          .pricing-faq__accordion-content Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
